<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>vgmrad.io</h1>
    <span class="menu-spacer"></span>
    <div>
      <a *ngIf="!isLoggedIn" mat-button [routerLink]="'/login'"> Login </a>
      <ng-container *ngIf="isLoggedIn">
        <button mat-button [matMenuTriggerFor]="menu">
          {{ appUser.displayName }}
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/admin'" *ngIf="isAdmin">
            Admin
          </button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
        <app-playlists></app-playlists>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
