<form class="song-form">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Game</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Composer</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Song filename</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>OST Image filename</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-checkbox>Is relaxing?</mat-checkbox>
</form>