<section>
  <form class="song-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- <p>{{form.value|json}}</p>
    <p>{{song|json}}</p> -->
    <p>
      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input
          formControlName="title"
          [errorStateMatcher]="matcher"
          id="title"
          matInput
        />
        <mat-error *ngIf="getControl('title').hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>Game</mat-label>
        <input
          formControlName="game"
          [errorStateMatcher]="matcher"
          [value]="song?.game"
          matInput
        />
        <mat-error *ngIf="getControl('game').hasError('required')">
          Name of videogame is required
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>Composer</mat-label>
        <input
          formControlName="composer"
          [errorStateMatcher]="matcher"
          matInput
        />
      </mat-form-field>
    </p>

    <table cellspacing="0" class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Song filename</mat-label>
            <input
              formControlName="songFilename"
              [errorStateMatcher]="matcher"
              matInput
            />
            <mat-error *ngIf="getControl('songFilename').hasError('required')">
              Song filename is required
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <mat-label>OST Image filename</mat-label>
            <input
              formControlName="ostImageFilename"
              [errorStateMatcher]="matcher"
              matInput
            />
            <mat-error
              *ngIf="getControl('ostImageFilename').hasError('required')"
            >
              OST image filename is required
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>Categories:</p>
    <mat-error *ngIf="form.hasError('categoryRequired')">
      At least one category must be selected
    </mat-error>
    <div formGroupName="categories">
      <p>
        <mat-checkbox formControlName="relaxing">Relaxing</mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="adventurous">Adventurous</mat-checkbox>
      </p>
    </div>

    <button mat-raised-button color="primary" [disabled]="!form.valid">
      Save
    </button>
  </form>
</section>
